<header class="page-header">
    <div class="container">
        <section id="top" class="animate-up">
            <h2 class="sr-only">Homepage</h2>
            <h1>Cursos</h1>
        </section>

        <div class="separator"></div>

        <section id="summary" class="animate-up delay-1">
            <h2 class="sr-only">Sumário</h2>
            <div class="info">

            </div>
            <a class="button orange" routerLink="cadastro-estudante" routerLinkActive="active">
                Cadastre-se
            </a>
        </section>
    </div>
</header>