<form id="form-lar" method="post" [formGroup]="formVenda">
    <fieldset>
        <legend>Adiquirir Curso</legend>
        <div class="separator light"></div>
        <div class="input-group">
            <div class="input-wrapper">
                <label for="name">Nome do Curso</label>
                <input formControlName="nomeCurso" type="text" id="name" name="nomeCurso" readonly />
            </div>
            <div class="input-wrapper">
                <label for="cpf">Informe seu CPF</label>
                <input formControlName="cpf" type="text" id="cpf" name="cpf" pattern="[0-9]{11}" />
            </div>
        </div>
        <div class="input-group">
            <div class="input-wrapper">
                <label for="cartao">Selecione o Cartão</label>
                <select formControlName="idCartao">
                    <option *ngFor="let cartao of cartoes" [value]="cartao.id">
                        {{cartao.numeroCartao}}
                    </option>
                </select>
            </div>

            <div class="input-wrapper">
                <label for="valorTotal">Valor do Curso</label>
                <input formControlName="valorTotal" type="text" id="valor" name="valorTotal" readonly />
            </div>
        </div>
    </fieldset>

    <div class="button-group">
        <button class="button green" form="form-venda" (click)="finalizarVenda()" title="Salvar Dados">Adicionar
            Curso</button>

        <a href="/" class="button red">
            Cancelar
        </a>

        <button class="button green" form="form-venda" title="Pesquisa Cpf" [disabled]="formVenda.controls.cpf.errors"
            (click)="consultarCpf()">Pesquisar Cpf</button>
    </div>
</form>